# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env 


box-shadow: ${({ darkMode }) =>
    darkMode 
      ? '0 0 40px rgba(0, 168, 255, 0.4), inset 0 0 20px rgba(0, 168, 255, 0.1)' 
      : '0 0 20px rgba(0,0,0,0.1)'};

text-shadow: ${({ darkMode }) =>
    darkMode 
      ? '0 0 5px rgba(0, 168, 255, 0.5), 0 0 10px rgba(0, 168, 255, 0.4)' 
      : 'none'};
      transition: color 0.3s ease, text-shadow 0.3s ease;


text-shadow: ${({ darkMode }) =>
    darkMode 
      ? '0 0 5px rgba(0, 168, 255, 0.5)' 
      : 'none'};
  transition: color 0.3s ease;


